.navbar{
  background-color: #b42626;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 25px; /* Vertically center the text there */
  background-color: #000;
}

.App{
  background-color: #000;
} 

.list-group-item-action{
  background-color: #000 !important;
}
 
hr {
  color: #b42626 !important;
  border-top: 1px solid #8c8b8b;
  border-color: #b42626 !important;
}

circle{
  stroke: black;
  stroke-width: 3;
  fill:red;
}
line{
  stroke:rgb(255,0,0);
  stroke-width:2
}

svg text{
  stroke: none;
  text-anchor: middle; 
  stroke-width: 2px;
}

#tree{
  width: 100%;
  height: 100%;
}